<h1>Challenge Your Friends</h1>

<br>

<%= form_for :session, url: sessions_path do |f| %>
	<%= f.text_field :email, placeholder: "Email", class: "form-control" %><br>
	<%= f.password_field :password, placeholder: "Password", class: "form-control" %><br>

	<br>

	<%= f.submit "Log In", class: "btn btn-default" %>
<% end %>

<br>

<%= link_to "Sign Up", new_person_path %>