<h1><%= @person.name %></h1>
<h2><%= @person.email %></h2>

<%= image_tag gravatar_url_for(@person.email), style: "width 64px; height: 64px;" %>

<h3>Challenges</h3>

<ul>
	<%= render @person.challenges %>
</ul>

<% if @person == @current_person %>
	<p>
		<% if @person.can_challenge? %>
			<%= link_to people_path do %>
				Challenge Someone (<span class="token-count"><%= pluralize(@current_person.tokens, "Token") %></span> left)
			<% end %>
		<% else %>
			Complete some challenges to gain tokens.
		<% end %>
	</p>

	<br>
	<br>

	<%= link_to "Edit", edit_person_path(@person) %>

	<br>
	<br>

	<%= link_to "Leave", @person, method: :delete, data: {confirm: "Are you sure you want to leave all of your challenges behind?"} %>
<% else %>
	<p>
		<% if @current_person.can_challenge? %>
			<%= link_to new_person_challenge_request_path(@person) do %>
				Challenge This Person (<span class="token-count"><%= pluralize(@current_person.tokens, "Token") %></span> left)
			<% end %>

			<br>
			<br>

			<%= link_to people_path do %>
				Challenge Someone (<span class="token-count"><%= pluralize(@current_person.tokens, "Token") %></span> left)
			<% end %>
		<% else %>
			Complete some challenges to challenge this person.
		<% end %>
	</p>
<% end %>
